.FullbodyUgcContainer {
  background-image: url("https://res.cloudinary.com/drjnmxyd5/image/upload/v1676033131/Group_1554_dojxgk.svg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.ugcTermContainer {
  height: 238.5px;
  max-width: 835px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ugcHeading {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000b2;
  margin-bottom: 20px;
}
.selectedOptions {
  height: 49px;
  width: 100%;
  max-width: 615px;
  left: 110px;
  top: 0px;
  border-radius: 10px;
  border: 3px solid #000000;
  text-align: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  display: inline-table;
  cursor: pointer;
}
.selectedOptions > option {
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  height: 22px;
  width: 307px;
  left: 174.5px;
  top: 13.5px;
  border-radius: nullpx;
  color: #000000b2;
}
.ugcTermContainer > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  height: 72px;
  margin-top: 29px;
  text-transform: uppercase;
}
.siteSmallCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
}
.copywrightText {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  color: #000000b2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.siteSmallCon > svg {
  margin-left: 100px;
}
.desc {
  font-family: Poppins;
  height: 200px;
  overflow-y: scroll;
}

.ugcFooter {
  position: fixed;
  width: 100%;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .selectedOptions {
    width: 100%;
  }
}
