.galleryContainer {
  background-image: url("https://res.cloudinary.com/drjnmxyd5/image/upload/v1676033131/Group_1554_dojxgk.svg");
  width: 100vw;
  background-size: cover;
  height: 100vh;
}
.galleryImage {
  height: 169.3779296875px;
  left: 24.9012451171875px;
  top: 110.578125px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  width: 310px;
}
