.MobileAboutContainer {
  background-image: url("https://res.cloudinary.com/drjnmxyd5/image/upload/v1676033131/Group_1554_dojxgk.svg");
  width: 100vw;
  background-size: cover;

  overflow: hidden;
}
.aboutMatter {
  width: 320px;
  left: 20px;
  top: 103px;
  border-radius: 0px;
  margin: auto;
}
.heading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
  color: #575757;
}
.aboutMatter > p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #575757;

  height: 659px;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .aboutMatter {
    width: 100%;
  }
}
